page19)

In [10]:
#p19_ex15
a = 0
b = 1
for i in range(20):
  print(a, end=' ')
  n = a+b
  a=b
  b=n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [17]:
#p19_ex16
for x in range(1,41):
  if(x%10==0):
    print('+', end='')
  else: 
    print('-', end='')

---------+---------+---------+---------+

In [34]:
#p19_ex17
x = 1
while(x <= 41):
    if(x%10==0):
      print('+', end='')
    else: 
      print('-', end='')
    x += 1

---------+---------+---------+---------+-

In [ ]:
#p19_ex18
print('-'*30)
print("센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print('-'*30)
for cm in range(100):
  inch = cm*0.393701
  ft = cm*0.032808
  yd = cm*0.010936
  print("%7d %8.1f %8.1f %8.1f"%(cm, inch, ft, yd))
print('-'*30)

In [43]:
#p19_ex19
for i in range(1, 1001):
  print(i, end=' ')
  if i == 10:
    break

1 2 3 4 5 6 7 8 9 10

In [55]:
#p19_ex20

score = [92, 86, 68, 120, 56, 72]
for i in range(len(score)):
  print(score[i], end=' ')
  if score[i] > 100:
    print("성적처리")
    break

92 86 68 120 성적처리

In [60]:
#p19_ex21
score = [92, 86, 68, 120, 56, 72]
for i in range(len(score)):
  print(score[i], end=' ')
  print()
  if score[i] > 100:
    continue
print("성적처리")

92
86
68
120
56
72
성적처리

In [61]:
#p19_ex22
print("3+4 = ?")
while(1):
  a = int(input("정답을 입력하세요 : "))
  if(a == 7):
    break
print("참 잘했어요")

3+4 = ?
정답을 입력하세요 : 2
정답을 입력하세요 : 7
참 잘했어요

In [63]:
#p19_ex23
while True:
  light = input('신호등 색깔 입력 : ')
  if(light == 'green'):
    break
print("길 건너기")

신호등 색깔 입력 : ㄴㅁㅇㄴㅁ
신호등 색깔 입력 : sada
신호등 색깔 입력 :
신호등 색깔 입력 : green
길 건너기

In [81]:
#p19_ex24
i = 0
total = 0
while True:
  total = total+i
  if total>50:
      print('합이 50 보다 커지는 수는 %d이고 합은 %d이다.' %(i,total))
      i+=1
  break

In [ ]:
#p19_ex25
dan = 2
while dan <=9:
  hang =1
  print(dan, "단") 
  while hang<=9:
    print(dan,"*",hang,"=",dan*hang)
    hang +=1
  dan+=1

In [86]:
#p19_ex26
for y in range(1,6):
  for x in range(y):
    print("*",end="")
  print()

*
**
***
****
*****

In [87]:
#p19_ex27
for i in range(7):
  for j in range(7):
    if(i == j) or (i+j == 6):
      print('*',end = '')
    else:
      print(' ',end = '')
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [91]:
#p19_ex28
cnt = 0
n = int(input('수 입력 : '))

for i in range(2, n+1):
  pn = 1
  for j in range(2,i):
    if i%j == 0:
      pn = 0
      
  if pn ==1:
    print('{:>5}'.format(i), sep ='',end = ' ')
    cnt += 1
    if cnt%5 == 0:
      print()

수 입력 : 50
    2     3     5     7    11
   13    17    19    23    29
   31    37    41    43    47